@import "../../styles/mixins/Mixins.scss";
@import "../../styles/variables/Variable.module.scss";

.wrapper {
    @include section;

    .flexContainer {
        width: 100%;
        display: flex;
        gap: 40px;

        @include small {
            flex-direction: column;
        }

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .imgContainer {
                width: 100%;
                height: 100%;
                position: relative;

                @include small {
                    height: 300px;
                }
                
                img {
                    object-fit: contain;
                }
            }
            
        }

        .right {
            flex: 1;

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    padding: 10px;
                    border: 1px solid black;
                    background-color: $bg-soft;
                }

                textarea {
                    resize: none;
                }

            }
        }
    }
}