@import "../../../styles/mixins/Mixins.scss";

.list {
    display: flex;
    align-items: center;
    gap: 20px;

    @include medium {
        flex-direction: column;
    }

    li {
        padding: 10px 20px;
        font-weight: 500;

        &.active {
            border-radius: 100vmax;
            color: #000;
            background-color: #fff;
        }
    }
}